<!-- inicio home -->
    <div class="container-fluid">
        <div id="home" class="row hero">
            <div class="col-lg-3 offset-lg-2 algo">
                <h1>Wols Lencería</h1>
            </div>
        </div>
    </div>
    <!-- inicio productos -->
    <div id="productos" class="col my-3">
        <div class="container">
            <div class="row row-cols-2 lista">
                {{#each productos}}
                <div class="col"><a data-bs-toggle="modal" data-bs-target="#modal{{id}}" href=""><img src="{{imagen}}"
                alt="">{{producto}}</a></div>
                {{/each}}
              {{!-- <div class="col"><a href="./conjuntos" target="_blank" data-bs-target="#conjuntos"><img src="img/conjunto.jpeg"
                alt="">Conjuntos</a></div>
              <div class="col"><a href="./bombachas" target="_blank" data-bs-target="#conjuntos"><img src="img/bombacha.jpeg"
                alt="">Bombachas</a></div>
              <div class="col"><a href="./deportivos" target="_blank" data-bs-target="#conjuntos"><img src="img/deportivo.jpeg"
                alt="">Deportivos</a></div>
              <div class="col"><a href="./bodys" target="_blank" data-bs-target="#conjuntos"><img src="img/body.jpeg"
                alt="">Bodys</a></div> --}}
            </div>
        </div>
    </div>
    {{!-- MODALES --}}
    {{!-- modales deportivos --}}
    {{#each productos}}
    <div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{producto}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modales modal-dialog modal-dialog-center modal-dialog-scrollable">
                    <img src="{{imagen}}" alt="">
                </div>
                <div>
                    <h4>{{precio}}</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <!-- inicio carrusel -->
    <div class="row my-3 row-cols-3">
        <div id="carrusel" class="col carrusel">
            <div id="carousel1" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="muestra">
                            <img src="img/ejemplo1.jpeg" alt="">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="muestra">
                            <img src="img/ejemplo2.jpeg" alt="">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="muestra">
                            <img src="img/ejemplo3.jpeg" alt="">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel1"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel1"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div id="carrusel" class="col carrusel">
            <div id="carousel2" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="muestra">
                            <img src="img/ejemplo4.jpeg" alt="">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="muestra">
                            <img src="img/ejemplo5bis.jpeg" alt="">
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <div class="muestra">
                            <img src="img/ejemplo6.jpeg" alt="">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel2"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel2"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div id="carrusel" class="col carrusel">
            <div id="carousel3" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="muestra">
                            <img src="img/ejemplo7.jpeg" alt="">
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <div class="muestra">
                            <img src="img/ejemplo8.jpeg" alt="">
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <div class="muestra">
                            <img src="img/ejemplo9.jpeg" alt="">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel3"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel3"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- inicio visitanos -->
    <div id="contacto" class="row py-4 scroll-section contacto">
        <div class="col-md-4 offset-md-2">
            <h2>Visitanos</h2>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104764.32725084049!2d-58.654246751085104!3d-34.85911112154506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcd9e6c9c7d059%3A0x49f36492ecf105de!2sTrist%C3%A1n%20Su%C3%A1rez%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1659729283311!5m2!1ses!2sar"
                    width="300" height="280" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <!-- inicio contactanos -->
        <div class="col-md-4 mt-4 mt-sm-0">
            <h2>Contactanos</h2>
            <div>
                <form class="row g-3" action="/" method="post">
                <div class="col-12">
                        <label for="inputAddress" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="inputAddress" name="nombre">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" name="email">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Teléfono</label>
                        <input type="tel" class="form-control" id="inputTel4" name="tel">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="inputAddress" name="dirección">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" id="inputCity" name="ciudad">
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label">Provincia</label>
                        <input type="text" class="form-control" id="inputCity" name="provincia">
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck" name="si">
                            <label class="form-check-label" for="gridCheck">
                                Quiero que me llamen
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                    <p>{{message}}</p>
                </form>
            </div>
        </div>
    </div>
